.expensesList {
    padding: 20px ;
    border: 1pz solid violet;
    border-radius: 15px;
    margin: 0 auto;
    background-color: black;

}
.expensesList > div{
    background-color:dimgrey ;
    color: white;
}

.expenses{
    padding: 2rem;
    background-color: black;
    width: 50%;
    margin: 0 auto;
    border-radius: 12px;
}


